<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{entry.title}}</title>

    <!-- SET: FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/standard-rwd.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/intl-override.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/events-redesign-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-portfilter.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


</head>
<body class="en IN rwd rwd profile-prospect">
{% include "partials/header.html" %}

    {% block content %}{% endblock %}

{% include "partials/footer.html" %}
</body>
</html>